body{
    width: 970px;
    margin: 50px auto;
    
}

body img{
    width: 720px;
    
}

.main-container{
    position: relative;
}
.main-container img{
    width: 70px;
}


.main-container li{
    list-style-type: none;
    display: inline-block;
    padding: 20px 45px;
    position: relative;
    bottom: 600px;
}

.btn{
    position: relative;
    /* margin-bottom: 300px; */
    position: fixed;
    bottom: 100px;
    left: 300px;
    padding: 10px 20px;
    background-color: #333f;
    color: white;
    font-size: 32px;
    border-radius: 10px;
}